<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragment/header::header"/>
<body>

<header class="bodyHeader__container" >
    <div class="bodyHeader__container logo">아씨발 복잡해</div>
    <nav class="bodyHeader__container community">
        <ul>
            <li><a href="">추천</a></li>
            <li><a href="">자유</a></li>
            <li><a href="">갤러리</a></li>
            <li><a href="">질문</a></li>
            <li><a href="">공지사항</a></li>
        </ul>
    </nav>
    <div class="bodyHeader__container others"></div>

</header>

</div>
</header>


</body>
</html>

<!--============================-->
