html {
	font-family: 'Apple SD Gothic Neo', Roboto, 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
	color: #555;
	line-height: 1.2;
	word-wrap: break-word;
}
body {
	background: #eee;
	-webkit-font-smoothing: antialiased;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
div, span, article, section, header, footer, aside, p, ul, li, fieldset, legend, label, a, nav, form {
	box-sizing: border-box;
	/* content-box */
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
a {
	display: inline-block;
}
button {
	border: 0;
	background: transparent;
	cursor: pointer;
}

.flex-container {
	/* padding: 10px; */
	background: lightgray;
}
.flex-item {
	padding: 10px;
	border: 3px solid rgb(50,50,40);
	color: white;
	background: mediumseagreen;
}
.flex-i-container {
	display: flex;
	align-items: center; /* 세로 중앙 정렬 */
}
.flex-i-container a,
.flex-i-container form {
	margin-right: 10px; /* 요소 사이의 간격 */
}
.board-list {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed; /* 추가된 부분 */
}

.title-table{
	border-bottom: 1px solid #D3D3D3;
	padding: 20px;
}
.date{
	border-bottom: 1px solid #D3D3D3;
}

.sub-replies-date {
	color: #898989;
}
.button-write-submit {
	border: 1px solid grey;
	border-radius: 5px;
	background-color: #DCECFF;
}

.text-area {
	width: 900px;

	height: 400px;

}
.select-box-category {
	width: 160px;
	height: 30px;
	margin-bottom: 10px;
}
.write-title {
	width: 900px;
	height: 30px;
	margin-bottom: 10px;
}

.search-input {
	width: 300px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid black;
}
.search-input-select {

	height: 35px;
	border-radius: 5px;
	border: 1px solid black;
}