body, html {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 15px;
}

input[type="email"],
input[type="password"],
.login-button,
.qr-login {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.login-button {
    background-color: #DCECFF;
    color: #333;
    cursor: pointer;
    border: none;
}

.qr-login {
    background-color: #f2f2f2;
    color: #333;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}

.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}
a:hover {
    border-bottom: 1px solid gray;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #f2f2f2;
}

footer .social-login a img {
    width: 24px;
    height: 24px;
}

.footer-nav {
    text-align: center;
    padding-top: 10px;
}

.footer-nav a {
    color: #333;
    text-decoration: none;
    margin: 0 5px;
}
