.back-head{
    background-color: #b8bebe;
    width: 1500px;
    padding:1rem!important
}

span{
    color: #0a53be;
}

form{
    background-color: #b8bebe;
    solid-color: lightslategray;
    margin: 2px;
}


.head-title{
    color: #1a1a1c;

}