body {
    box-sizing: border-box;
}


/* menu */
.menu {
    display: flex;
}

.menu-item {
    /* flex-grow: 1; */
    width: 25%;
    background: #2D4261;
    transition: 0.5s;
}

.menu-item:hover {
    /* flex-grow: 1.5; */
    width: 35%;
    background: crimson;
}

.menu-link {
    display: block;
    padding: 1em;
    font-size: 1.2rem;
    font-weight: bold;
    color: #8691A4;
    text-decoration: none;
    text-align: center;
}

.menu-link:hover {
    color: white;
}

@media (max-width: 500px) {
    .menu {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .header-logo {
        width: 130px;
        margin-bottom: 10px;
    }
}

.menu-item {
    flex: 1 1 100%;
    border-bottom: 1px solid black;

}


/* search */
.header-item {
    flex-grow: 1;
    margin-left: auto;
}


.search-form input[type="search"] {
    flex: 1 0;
    min-width: 0;
    margin-right: 10px;
    /*border: 0;*/
    border-radius: 0.3em;
    font-size: 1rem;
}

.search-form input[type="submit"] {
    width: 4em;
    border: 0;
    border-radius: 0.3em;
    font-size: 1rem;
    background: #DCEBFF;
}

/* bullet list */
.info-list {
    margin-bottom: 2rem;
}

.info-list-item {
    display: flex;
    margin: 0.5em 0;
}

.info-list-item:before {
    content: "⌘";
    margin-right: 0.5em;
}

/* message */
.user-list {
    margin-bottom: 2rem;
}

.user-item {
    display: flex;
    margin-bottom: 1.5em;
}

.user-photo {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin-right: 0.5em;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: gold;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
}

/* friend list */
.friend-item {
    align-items: center;
}

.user-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* modal */
.modal {

    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    bottom: 0;

    background: rgba(0, 0, 0, 0.3);
}

.dialog {
    width: 50vw;
    padding: 2em;
    border-radius: 1em;
    background: white;
}

/* board list */
.board-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.board-desc {
    flex: 1 1 auto;
    padding: 1em;
    background: white;
}

.board-desc-board {
    display: block;
    flex: 1 1 auto;
    padding: 1em;
    background: white;
    margin-top: 15px;
    width: 900px;
}
.board-write {
    display: block;
    flex: 1 1 auto;
    padding: 1em;
    background: white;
    margin-top: 15px;
    width: 500px;
}

join {

}

@media (min-width: 600px) {
    .board-list {
        display: flex;
        flex-wrap: wrap;

        margin: 0 -1rem;

    }

    .board-item {
        width: 50%;
        padding: 0 1rem;
    }
}

@media (min-width: 1200px) {
    .board-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;

    }

    .board-item {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .board-join {
        width: 100%;
        background-color: transparent;
    }

}

.main-title {
    color: #388AFF;
    justify-content: center;
    display: flex;
}

.main-title-board {
    color: #2D4261;
    justify-content: left;
    display: flex;
}

/*게시판 관련*/
.board-title {
    font-size: 14px;
    font-weight: 400;

}

.board-link {
    text-decoration: none;
}

.board-link:visited {
    text-decoration: none;
}

.board-list {
    margin: 0;
    padding: 0;
}
.board-list-li {
    list-style-type: none;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #ededed;
    display: block;
}
.board-write-input{
    border: 1px solid #D7D7D7;
    width: 700px;
    margin-left: 14px;
    height: 25px;
}
.board-write-textarea{
    border: 1px solid #D7D7D7;
    width: 700px;
    height: 1000px;
    margin: 15px;
}

.board-write-button {
    background-color: #DDEBFF;
    border: 1px solid black;
    border-radius: 15px;
    margin-left: 14px;
}

.board-write-select {
    border: 1px solid #D7D7D7;
    margin-left: 14px;
    margin-bottom: 15px;
}

.button-write {
    border: 1px solid black;
}

.post-detail-reply {
    background-color: white;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    padding: 13px;
}

.reply-input {
    width: 100%;

}
.reply-submit {
    color: #a8d4fa;
}

.reply-form {
    width: 100%;
    background-color: #F2F6FF;
}

.reply-content {
    font-size: 12px;
    padding: 6px;
    border-bottom: 1px solid black;
}

.post-edit-button {
    border: 1px solid black;
    background-color: #F1F7FF;
}
.post-delete-button {
    border: 1px solid black;
    background-color: #F1F7FF;
}

.logout-button {
    text-decoration: none;
    margin-right: 15px;
}